.groupTag, .groupUser {
	margin: 20px 20px 60px 60px;
}

.user, .tag {
	display: inline-block;
	vertical-align: top;	
	margin-left: 5px;
	margin-right: 15px;
	margin-top: 20px;
}


.tag .text, .user .text {
	font-size: 12px;
	font-color: rgb(150, 150, 150);
	line-height: 15px;
	margin-top:5px;
	font-style: italic;
}

.user .text .bold {
	font-weight: bold;
	font-style: normal;
}

label {
	cursor: text;
}

table {
	width: 100%;
}


table:HOVER, tr:HOVER, td:HOVER {
	background-color: transparent;
}

td {
	padding-bottom:15px;
	border-color: rgb(200, 200, 200);
	border-style:  none none solid none;
}



.user a, .tag a {
	color: rgb(12, 123, 184);
	font-weight: bold;
	font-size: 16px;
	text-decoration:none; 
}


label {
	cursor: text;
}
