.menuInPage { 
	list-style:none; 
	border-bottom:rgb(14, 144, 216) solid 5px;
	background-color:#ffffff; 
	width:auto;
	height:27px; 
	line-height:27px;
	margin:40px 0px 20px 20px; 
}
.menuInPage li a { 
	float:left; 
	margin-left:10px;
}


.menuInPage li.title {
	float: left;
	margin-left: 10px;
	margin-right: 60px;
	font-weight: bold;
}

.menuInPage li a {
	display:block; 
	float:left; 
	height:27px; 
	line-height:27px; 
	color:#aaa; 
	text-decoration:none; 
	font-family:arial, verdana, sans-serif; 
	text-align:center; 
	font-size:13px;
	font-weight: bold;
	padding:0 14px 0 14px; 
}

.menuInPage li a {
	cursor: pointer;
}

.menuInPage li.item_selected_menu a {
	color:#fff; 
	background:rgb(14, 144, 216);
}

.menuInPage li a:hover {
	color:#fff; 
	background:rgb(125, 203, 245); 
}