/* VOTE */
.triangle-up {
	font-size: 0px; line-height: 0%; width: 0px;
	border-bottom: 20px solid #77c;
	border-left: 10px solid #f6f6f6;
	border-right: 10px solid #f6f6f6;
}

.triangle-down {
	width: 0;
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: 20px solid #77c;
	border-left: 10px solid #f6f6f6;
	border-right: 10px solid #f6f6f6;
}

/*MENU*/
.menu_question { 
	list-style:none; 
	border-bottom:rgb(14, 144, 216) solid 5px;
	background-color:#ffffff; 
	width:100%; height:27px; 
	line-height:27px;
	margin:40px 0px 20px 20px; 
}
.menu_question li { 
	float:left; 
	margin-left:10px;
}


.menu_question li.title {
	float: left;
	margin-left: 10px;
	margin-right: 60px;
	font-weight: bold;
}

.menu_question li a, li.item_selected_menu {
	display:block; 
	float:left; 
	height:27px; 
	line-height:27px; 
	color:#aaa; 
	text-decoration:none; 
	font-family:arial, verdana, sans-serif; 
	text-align:center; 
	font-size:13px;
	font-weight: bold;
	padding:0 14px 0 14px; 
}

.menu_question li a {
	cursor: pointer;
}

.menu_question li a:hover {
	color:#fff; 
	background:rgb(125, 203, 245); 
}

.menu_question li.item_selected_menu {
	color:#fff; 
	background:rgb(14, 144, 216);
}


/* PAGINATION */
.pagination {	
	
    padding: 10px 20px;
    margin: 20px 80px 20px 80px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
    
    clear: both;
    
}

.pagination .currentStep {
	border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.pagination a:hover, .pagination a:focus  {
	background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}


.listQuestion {
	clear: both;
}

.listQuestion .parameters {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	margin-left: 50px;
	margin-right: 30px;
	margin-bottom: 20px;
	text-align: center;
	float:left;
}

.listQuestion .parameters .group { background-color: rgb(230, 230, 230); margin-bottom: 10px;}

.listQuestion .parameters .mark_value { font-size: 20px; color: rgb(90, 90, 90);}
.listQuestion .parameters .mark_name { font-size: 15px; color: rgb(90, 90, 90);}

.listQuestion .parameters .answers_value { font-size: 20px; color: rgb(133, 15, 32);}
.listQuestion .parameters .answers_name { font-size: 15px; color: rgb(133, 15, 32);}

.listQuestion .parameters .views { font-size: 15px; color: rgb(140,140, 140); }

.listQuestion .title a{
	display: inline-block;
	vertical-align: top;
	color: rgb(12, 123, 184);
	text-decoration: none;
	font-weight: bold;
	margin-bottom:8px;
	font-size: 20px;
}

.listQuestion .title label {
	margin-bottom:25px;
	font-size:13px;
}

.listQuestion .tag label {
	color:rgb(49, 99, 137);
	padding: 2px 6px 2px 6px;
	background-color:rgb(205, 223, 237);
}

	
.listQuestion .user {
	display:inline-block;
	float:right;
	margin-top: 20px;
	font-style: italic;
	color: rgb(90, 90, 90);
	text-align: right;
	margin-right:160px;
}

.listQuestion .user a{
	font-weight: bold;
	text-decoration: none;
	color: rgb(90, 90, 90);
}
