.menuSubHeader {
	list-style:none; 
	background-color:#ffffff; 
	width:auto;
	height:27px; 
	line-height:27px;
	margin:40px 0px 20px 20px;
	padding-top:50px;
	height:100px;
}

.subheader .image {
	display:inline-block;
	float:left;
}

.menuSubHeader li { 
	float:left; 
	margin-left:10px;
	vertical-align:center;
	display:inline-block;
}


.menuSubHeader li.title {
	float: left;
	margin-left: 10px;
	margin-right: 60px;
	font-weight: bold;
}

.menuSubHeader li a { 
	font-family:arial, verdana, sans-serif;
	font-size:13px;
	font-weight: bold;
	float:left; 
	height:27px; 
	line-height:27px; 
	text-align:center; 
	background:#777777;
	color: white;
	text-decoration:none;
	display:block;
	cursor:pointer;
	padding: 0 14px 0 14px;
}

.menuSubHeader li.item_selected_menu a {
	background:rgb(14, 144, 216);
}

.menuSubHeader li a:hover { 
	background:rgb(125, 203, 245); 
}
