.description label.description {
	margin-left:40px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:20px;
	padding: 20px 20px 20px 20px;
	font-size: 15px;
	font-style: italic;
	border : solid rgb(100, 100, 100) 1px;
	width: 80%;
}

.description label.name {
	font-size: 20px;
	font-weight:bold;
	margin-left:60px;
	margin-bottom:10px;
	text-transform: uppercase;
	padding-left:20px;
	padding-right:160px;
	padding-top:4px;
	padding-bottom: 4px;
	color: rgb(12, 123, 184);
}

.edit {
	margin-left:60px;
	margin-bottom:15px;
}

.separation {
	margin-top:5px;
	margin-bottom:45px;
	margin-left:85px;
	width:50%;
	border-bottom: black 3px solid;
}