.userDetailled .title {
	margin-left: 40px;
}

.userDetailled .title .username {
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 0;
	border-bottom: solid black 1px;
}

.userDetailled .title .content {
	display: inline-block;
        width: 100%;
        margin-top: 19px;
	margin-left: 20px;
}

.userDetailled .title .content .parameters,
.userDetailled .title .content .values {
	display:block;
	float: left;
	width: 30%;
	font-weight: normal;
	font-size: 12px;
}

.userDetailled .title .content .parameters {
	color: rgb(120, 120, 120);
	font-style: italic;
}

.userDetailled .title .content .reputation {
	display:block;
        float: left;
	height: 100%;
	width: 20%;
}

.userDetailled .title .content .parameters .parameter,
.userDetailled .title .content .values .value {
	display: block;
	float: none;
}