.userDetailled .title {
	margin-left: 40px;
}

.userDetailled .title .username{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: solid black 1px;
}

.userDetailled .title .content{
	margin-left:20px;
}

.userDetailled .title .content .line {
	display: block;
}

.userDetailled .title .content .line .parameter {
	display:inline-block;
	vertical-align: top;
	color: rgb(120, 120, 120);
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
}

.userDetailled .title .content .line .value {
	display:inline-block;
	vertical-align: top;
	position: absolute;
   	left: 220px;
   	font-weight: normal;
	font-size: 12px;
}
